*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body{
    min-width: 100%;
}
/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (min-width: 320px) and (max-width: 575px){
    body{
        min-width: 100%;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    body{
        min-width: 100%;
    }
}

/* Large devices (min-width: 768px and max-width: 991px) */
@media screen and (min-width: 768px) and (max-width: 991px){
    body{
        min-width: 100%;
    }
}


/* <!-- -------------------------Sony------------------------ --> */
.sony{
    background: black;
    color: white;
    padding: 0 2%;
}
.sony h1{
    text-align: end;
    font-size: 28px;
}

/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (min-width: 320px) and (max-width: 575px){
    .sony{
        min-width: 100%;
        padding: 0 2%;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .sony{
        min-width: 100%;
        padding: 0 2%;
    }
}
/* Large devices (min-width: 768px and max-width: 991px) */
@media screen and (min-width: 768px) and (max-width: 991px){
    .sony{
        min-width: 100%;
        padding: 0 2%;
    }
}

/* <!-- ------------------------Nav------------------------- --> */
/* #Navo .Nav {
    padding: 10px 0;
} */
#Navo .Nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#Navo .Nav ul li{
    margin-right: 20px;
}
#Navo .Nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
#Navo .Nav ul li a:hover{
    color: blue;
}
#Navo .Nav button{
    outline: 0;
    border: 0;
    padding: 10px 20px;
    border-radius: 15px;
    background: blue;
    color: white;
    font-weight: 600;
}
#Navo .Nav button:hover{
    background: red;
    color: white;
}
#Navo .Nav .btn:hover{
    padding: 3px;
    border: 3px solid #3399FF;
    border-radius: 15px;
}
#Navo .Nav i{
    font-size: 35px;
}
#Navo .Nav .Normal-Nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
#Navo .Nav .Normal-Nav .Left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#Navo .Nav .Normal-Nav  .Left ul{
    margin-top: 20px;
}
#Navo .Nav .Normal-Nav .Left .logo a img{
    width: 80px;
}
#Navo .Nav .Normal-Nav  .Right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#Navo .Nav .Respo-nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.43);
    transition: all 0.6s ease-in-out;
    z-index: 999;
    top: 0;
    right: -100%;
}
#Navo .Nav .Respo-nav.Nav-open{
    right: 0;
}
#Navo .Nav .Respo-nav .All{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    justify-content: center;
    align-items: center;
}
#Navo .Nav .Respo-nav .All ul{
    display: flex;
    flex-direction: column;
}
#Navo .Nav .Respo-nav .All ul li{
    margin: 10px 0;
}
#Navo .Nav .Respo-nav .All ul li a{
    color: white;
}
#Navo .Nav .Respo-nav .All ul li a:hover{
    color: blue;
}
#Navo .Nav .Respo-nav .All .btn{
    margin-bottom: 20px;
}
#Navo .Nav .Respo-nav .All .btn button:hover{
    background: blueviolet;
}
#Navo .Nav .Respo-nav .All .search i{
    color: white;
    font-size: 30px;
}
#Navo .Nav .Respo-nav .All .search i:hover{
    color: blue;
}
#Navo .Menu-btn{
    position: fixed;
    top: 65px;
    font-size: 30px;
    color: black;
    right: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}
#Navo .Menu-btn:hover{
    color: blue;
}


/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (min-width: 320px) and (max-width: 575px){
    #Navo .Nav .Normal-Nav ul{
        display: none;
    }
    #Navo .Menu-btn{
        display: flex;
    }
    #Navo .Nav .Normal-Nav  .Right{
        display: none;
    }
    #Navo .Nav .Normal-Nav .Left .logo a img{
        width: 50px;
    }
    #Navo .Menu-btn{
        top: 50px;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    #Navo .Nav .Normal-Nav ul{
        display: none;
    }
    #Navo .Menu-btn{
        display: flex;
    }
    #Navo .Nav .Normal-Nav  .Right{
        display: none;
    }
    #Navo .Nav .Normal-Nav .Left .logo a img{
        width: 50px;
    }
    #Navo .Menu-btn{
        top: 50px;
    }
}

/* ------------------------Main------------------------- */
.maino {
    width: 100%;
    min-height: 100%;
    display: flex;
}
.maino .slide-container {
    position: relative;
    width: 100%;
    height: 580px;
}
.maino .slide-container .slides {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.maino .slide-container .slides img {
    width: 100%;
    height: 100%;
    position: absolute;
}
.maino .slide-container .slides img:not(.active) {
    top: 0;
    left: -100%;
}
.maino .slide-container .buttons span {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: blue;
    font-size: 40px;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    padding: 14px;
}
.next {
    right: 5px;
}
.prev {
    left: 5px;
}
.next:hover, .prev:hover {
    background: #3399FF;
    opacity: 0.8;
}
.dot-container {
    position: absolute;
    bottom: 40px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.dot-container .dot {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background 0.6s ease;
}
.dot-container .active {
    background: blue;
}

@keyframes next1 {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}
@keyframes next2 {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}
@keyframes prev1 {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}
@keyframes prev2 {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}
/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (min-width: 320px) and (max-width: 575px){
    .maino .slide-container {
        position: relative;
        width: 100%;
        height: 300px;
    }
    .dot-container{
        bottom: 300px;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .maino .slide-container {
        position: relative;
        width: 100%;
        height: 350px;
    }
    .dot-container{
        bottom: 290px;
    }
}

/* <!-- ------------------------indicator------------------------- --> */
.indicators{
    display: flex;
    padding: 10px 1%;
    width: 100%;
}
.indicators .one{
    margin-left: 5px;
}
.indicators .one img{
    width: 100%;
    border-radius: 8px;
}
/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (min-width: 320px) and (max-width: 575px){
    .indicators{
        min-width: 100%;
    }
    .indicators .one{
        margin-left: 2px;
    }
    .indicators .one img{
        border-radius: 4px; 
        width: 100%;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .indicators{
        min-width: 100%;
    }
    .indicators .one{
        margin-left: 2px;
    }
    .indicators .one img{
        border-radius: 4px; 
        width: 100%;
    }
}


/* <!-- ------------------------intro ps5------------------------- --> */
.intro-ps5{
    padding: 30px 5%;
    display: flex;
    align-items: center;
    max-width: 100%;
}
.intro-ps5 .righty img{
    width: 100%;
}
.intro-ps5 .lefty h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.intro-ps5 .lefty h3{
    font-size: 30px;
    color: blue;
    margin-bottom: 10px;
}
.intro-ps5 .lefty p{
    font-size: 18px;
    margin-bottom: 20px;
}
.intro-ps5 .lefty  span button{
    background: blue;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}
.intro-ps5 .lefty  span .red{
    background: red;
}
/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (min-width: 320px) and (max-width: 575px){
    .intro-ps5{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .intro-ps5 .righty img{
        width: 100%;
    }
    .intro-ps5 .lefty h1{
        font-size: 35px;
        font-weight: 600;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .intro-ps5{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .intro-ps5 .righty img{
        width: 100%;
    }
    .intro-ps5 .lefty h1{
        font-size: 45px;
        font-weight: 600;
    }
}



/* <!-- ------------------------cards------------------------- --> */
.carousel-inner {
    padding: 10px 5%;
    width: 100%;
}

.carousel-inner .carousel-item .row img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0px rgba(211, 211, 211, 1);
}
/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (min-width: 320px) and (max-width: 575px){
    .carousel-inner .carousel-item .row {
        display: flex;
        flex-direction: column; 
    }

    .carousel-inner .carousel-item .col-lg-3 {
        width: 100%; 
        margin-bottom: 10px; 
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .carousel-inner .carousel-item .row {
        display: flex;
        flex-direction: row; 
    }

    .carousel-inner .carousel-item .col-lg-3 {
        width: 50%; 
        padding: 5px; 
    }
}



/* <!-- ------------------------great------------------------- --> */
.great{
    background: #2b2b2b;
    padding: 20px 5%;
    color: white;
    text-align: center;
    max-width: 100%;
}
.great h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.great  span button{
    border: 0;
    outline: 0;
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 30px;
}
.great .games{
    display: flex;
    margin-bottom: 20px;
}
.great .games .one{
    margin-left: 10px;
}
.great .games .one img{
    width: 100%;
    border-radius: 20px;
}
.great .games .one h3{
    font-size: 18px;
    margin-top: 10px;
}
/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (min-width: 320px) and (max-width: 575px){
    .great{
        max-width: 100%;
    }
    .great .games{
        display: flex;
        flex-direction: column;
    }
    .great .games .one img{
        width: 100%;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .great{
        max-width: 100%;
    }
    .great .games{
        display: flex;
        flex-direction: column;
    }
    .great .games .one img{
        width: 100%;
    }
}



/* <!-- ------------------------Discover------------------------- --> */
.discover{
    background-image: url(./images/discover\ bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    object-fit: cover;
}
.discover h3{
    font-size: 35px;
    padding-top: 20px;
}
.discover h2{
    font-size: 40px;
}


/* <!-- ------------------------Feel------------------------- --> */
.feet{
    background-image: url(./images/f1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 0 5%;
    width: 100%;
}
.feet h1{
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 20px;
}
.feet p{
    width: 500px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 2;
}
.feet span button{
    border: 0;
    outline: 0;
    background: white;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.feet span .red{
    background: red;
    color: white;
}
/* Responsive design */

/* Small devices (max-width: 575.98px) */
@media screen and (min-width: 320px) and (max-width: 575px){
    .feet p{
        width: 400px;
    }
    .feet{
        background-image: url(./images/f1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        padding: 0 5%;
        width: 100%;
    }
}

/* <!-- ------------------------july------------------------- --> */
.july{
    background-image: url(./images/j1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 0 5%;
    width: 100%;
}
.july h1{
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 20px;
}
.july p{
    width: 500px;
    margin-bottom: 20px;
    font-size: 18px;
}
.july span button{
    border: 0;
    outline: 0;
    background: white;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.july .new{
    display: flex;
}
.july .new .two{
    margin-left: 10px;
} 
.july .new .two img{
    width: 100%;
    border-radius: 20px;
}
.july .new .two h3{
    font-size: 20px;
    margin-top: 10px;
}
.july .new .two p{
    width: 300px;
    font-size: 14px;
}
/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (min-width: 320px) and (max-width: 575px){
    .july {
        max-width: 100%;
    }
    .july .new{
        display: flex;
        flex-direction: column;
    }
    .july .new .two img{
        width: 100%;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .july {
        max-width: 100%;
    }
    .july .new{
        display: flex;
        flex-direction: column;
    }
    .july .new .two img{
        width: 100%;
    }
}

/* <!-- ------------------------Summer------------------------- --> */
.summer{
    display: flex;
    padding: 30px 5%;
    align-items: center;
    max-width: 100%;
}
.summer .right{
    margin-left: 20px;
    flex-basis: 60%;
}
.summer .right img{
    width: 100%;
    border-radius: 20px;
}
.summer .left{
    flex-basis: 40%;
}
.summer .left h2{
    margin-bottom: 10px;
}
.summer .left h3{
    font-size: 40px;
    margin-bottom: 20px;
}
.summer .left button{
    outline: 0;
    border: 0;
    background: red;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
}
/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (max-width: 320px){
    .summer{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 575px){
    .summer{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .summer .right{
        margin-top: 20px;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .summer{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .summer .right{
        margin-top: 20px;
    }
}

/* <!-- ------------------------FOllow------------------------- --> */
.follow{
    background: #f5f7fa;
    text-align: center;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.follow h1{
    padding-top: 50px;
}
.follow i{
    font-size: 150px;
    cursor: pointer;
}
/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (max-width: 320px){
    .follow{
        max-width: 100%;
    }
    .follow i{
        font-size: 100px;
    }

}
@media screen and (min-width: 320px) and (max-width: 575px){
    .follow{
        max-width: 100%;
    }
    .follow i{
        font-size: 110px;
    }
    .follow h1{
        margin-bottom: 50px;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .follow{
        max-width: 100%;
    }
    .follow i{
        font-size: 110px;
    }
    .follow h1{
        margin-bottom: 50px;
    }
}

/* <!-- ------------------------footer------------------------- --> */
.footer{
    background: #00439c;
    padding: 20px 5%;
    color: white;
    max-width: 100%;
}
.footer .start{
    display: flex;
    align-items: center;
}
.footer .start .left img{
    width: 70px;
}
.footer .start  .right{
    margin-left: 10px;
}
.footer .start  .right h1{
    color: white;
    font-size: 38px;
}
.footer hr{
    border: 1px solid #ccc;
}
.footer .middle{
    display: flex;
    justify-content: space-between;
}
/* .footer .middle .mid{
    margin-left: 90px;
} */
.footer .middle .mid a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
}
.footer .middle .mid h3{
    font-size: 22px;
    margin-bottom: 20px;
}
.footer .second-last{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .second-last .left{
    display: flex;
    align-items: center;
}
.footer .second-last .left img{
    width: 100px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.footer .second-last .btwn h3{
    font-size: 22px;
}
.footer .second-last .right img{
    width: 50px;
    /* margin-left: 1000px; */
}
.footer .second-txt p{
    font-size: 17px;
    line-height: 2;
}
.footer .last{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .last .logo{
    display: flex;
    align-items: center;
}
.footer .last .logo img{
    width: 40px;
    margin-right: 10px;
}
.footer .last .country h4{
    font-size: 17px;
}
.footer .last  .links a{
    text-decoration: none;
    color: white;
    border-right: 2px solid white;
    margin-left: 10px;
    padding-right: 10px;
    font-size: 17px;
}
/* -------------------Responsive design----------------------*/

/* -----------------------Small devices (max-width: 320px) */
@media screen and (max-width: 320px){
    .footer{
        max-width: 100%;
    }
    .footer .start{
        display: flex;
        flex-direction: column;
    }
    .footer .middle{
        display: flex;
        flex-direction: column;
    }
    .footer .last{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px){
    .footer{
        max-width: 100%;
    }
    .footer .start{
        display: flex;
        flex-direction: column;
    }
    .footer .middle{
        display: flex;
        flex-direction: column;
    }
    .footer .last{
        display: flex;
        flex-direction: column;
    }
    .footer .middle .mid h3{
        font-size: 30px;
        font-weight: 600;
    }
    .footer .last .logo{
        margin-bottom: 20px;
    }
    .footer .second-txt p{
        width: 450px;
    }

}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .footer{
        max-width: 100%;
    }
    .footer .start{
        display: flex;
        flex-direction: column;
    }
    .footer .middle{
        display: flex;
        flex-direction: column;
    }
    .footer .last{
        display: flex;
        flex-direction: column;
    }
    .footer .middle .mid h3{
        font-size: 30px;
        font-weight: 600;
    }
    .footer .last .logo{
        margin-bottom: 20px;
    }
}


/* <!-- -------------------------------stellar--------------------------- --> */
.stellar{
    width: 100%;
    padding: 20px 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.stellar h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}
.stellar img{
    width: 100%;
    border-radius: 40px;
}
.stellar .stel{
    display: flex;
    margin-top: 50px;
}
.stellar .stel .right iframe{
    border-radius: 20px;
}
.stellar .stel .left h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.stellar .stel .left p{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 2;
}
.stellar .stel .left button{
    background: blue;
    color: white;
    padding: 10px 30px;
    outline: 0;
    border: 0;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 30px;
}
.stellar .stel .left button:hover{
    background: red;
}

@media screen and (min-width: 320px) and (max-width: 575px){
    .stellar .stel{
        display: flex;
        flex-direction: column;
    }
    .stellar img{
        width: 100%;
        border-radius: 40px;
    }
    .stellar .stel .right iframe{
        width: 100%;
    }
    .stellar .stel .right{
        margin-top: 30px;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .stellar .stel{
        display: flex;
        flex-direction: column;
    }
    .stellar img{
        width: 100%;
        border-radius: 40px;
    }
    .stellar .stel .right iframe{
        width: 100%;
    }
    .stellar .stel .right{
        margin-top: 30px;
    }
}


/* <!-- -------------------------------heldiver--------------------------- --> */
.boss{
    background: #0035dd;
    padding: 20px 5%;
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.boss img{
    width: 100%;
    border-radius: 40px;
}
.boss .stel{
    display: flex;
    margin-top: 20px;
}
.boss .stel .left h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.boss .stel .left p{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 2;
}
.boss .stel .left button{
    background: white;
    color: black;
    padding: 10px 30px;
    outline: 0;
    border: 0;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 30px;
}
.boss .stel .right iframe{
    border-radius: 20px;
}


@media screen and (min-width: 320px) and (max-width: 575px){
    .boss .stel{
        display: flex;
        flex-direction: column;
    }
    .boss img{
        width: 100%;
        border-radius: 40px;
    }
    .boss .stel .right iframe{
        width: 100%;
    }
    .boss .stel .right{
        margin-top: 30px;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .boss .stel{
        display: flex;
        flex-direction: column;
    }
    .boss img{
        width: 100%;
        border-radius: 40px;
    }
    .boss .stel .right iframe{
        width: 100%;
    }
    .boss .stel .right{
        margin-top: 30px;
    }
}


/* ----------------------------explore-------------------------- */
.explore {
    background: #0035dd;
    padding: 20px 5%;
    color: white;
}
.explore .explore-cont {
    width: 100%;
    height: 450px;
    position: relative;
}
.explore .explore-cont .exploring {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.explore .explore-cont .exploring .explore-content {
    position: absolute;
    width: 100%;
    height: 100%;
}
.explore .explore-cont .exploring .explore-content:not(.explorings) {
    top: 0%;
    left: -100%;
}
.explore .explore-cont .exploring .explore-content .dove {
    display: flex;
}
.explore .explore-cont .exploring .explore-content .dove .dive {
    margin-left: 10px;
}
.explore .explore-cont .exploring .explore-content .dove .dive img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.explore .explore-btn span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: rgba(0, 0, 0, 0.849);
    color: white;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
    user-select: none;
    transition: background 0.6s ease;
    cursor: pointer;
}
.explore .explore-btn .nexto {
    right: 20px;
}
.explore .explore-btn .prevo {
    left: 20px;
}

@keyframes nex1 {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}
@keyframes nex2 {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}
@keyframes pre1 {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}
@keyframes pre2 {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}
@media screen and (min-width: 320px) and (max-width: 575px){
    .explore {
        padding: 0 1%;
    }
    .explore .explore-btn span{
        transform: translateY(-50%);
        padding: 10px;
        font-size: 15px;
    }
    .explore .explore-cont{
        height: 130px;
    }
    .explore .explore-cont .exploring .explore-content .dove .dive {
        margin-left: 3px;
    }
    .explore .explore-cont .exploring .explore-content .dove .dive img{
        border-radius: 6px;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .explore {
        padding: 0 1%;
    }
    .explore .explore-btn span{
        transform: translateY(-50%);
        padding: 10px;
        font-size: 15px;
    }
    .explore .explore-cont{
        height: 210px;
    }
    .explore .explore-cont .exploring .explore-content .dove .dive {
        margin-left: 3px;
    }
    .explore .explore-cont .exploring .explore-content .dove .dive img{
        border-radius: 6px;
    }
}

/* <!-- ----------------------------gaming-------------------------- --> */
.gaming{
    padding: 50px 5%;
    display: flex;
    background: #0035dd;
}
.gaming .gam{
    margin-left: 20px;
}
.gaming .gam img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 575px){
    .gaming{
        display: flex;
        flex-direction: column;
    }
    .gaming .gam img{
        width: 100%;
    }
    .gaming .gam{
        margin-top: 20px;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .gaming{
        padding: 10px 1%;
    }
    .gaming .gam img{
        width: 100%;
        border-radius: 6px;
    }
    .gaming .gam{
        margin-left: 3px;
    }
}


/* <!-- -------------------------------feel--------------------------- -->   */

.feel{
    background: #010639;
    padding: 20px 5%;
    color: white;
    display: flex;
}
.feel .left h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.feel .left p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 2;
}
.feel .left button{
    background: white;
    color: black;
    padding: 10px 30px;
    outline: 0;
    border: 0;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 30px;
}
.feel .right img{
    width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 575px){
    .feel{
        display: flex;
        flex-direction: column;
    }
    .feel .right img{
        width: 100%;
    }
    .feel .right{
        margin-top: 30px;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .feel{
        display: flex;
        flex-direction: column;
    }
    .feel .right img{
        width: 100%;
    }
    .feel .right{
        margin-top: 30px;
    }
}

/* <!-- -------------------------------feel--------------------------- -->   */

.fifa {
    padding: 20px 5%;
}
.fifa img{
    width: 100%;
    border-radius: 40px;
}
.fifa .stel{
    display: flex;
    margin-top: 30px;
}
.fifa .stel h2{
    font-size: 40px;
}
.fifa .stel .left p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 2;
    margin-top: 30px;
}
.fifa .stel .left button{
    background: blue;
    color: white;
    padding: 10px 30px;
    outline: 0;
    border: 0;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 30px;
}
.fifa .stel .left button:hover{
    background: red;
}
.fifa .right iframe{
    border-radius: 20px;
}
@media screen and (min-width: 320px) and (max-width: 575px){
    .fifa .stel{
        display: flex;
        flex-direction: column;
    }
    .fifa img{
        width: 100%;
        border-radius: 40px;
    }
    .fifa .right iframe{
        width: 100%;
    }
    .fifa .right {
        margin-top: 30px;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .fifa .stel{
        display: flex;
        flex-direction: column;
    }
    .fifa img{
        width: 100%;
        border-radius: 40px;
    }
    .fifa .right iframe{
        width: 100%;
    }
    .fifa .right {
        margin-top: 30px;
    }
}


/* <!-- ------------------------------------free----------------------- --> */

.for{
    padding: 60px 5%;
    background: #2b2b2b;
    color: white;
    text-align: center;
}
.for h1{
    /* text-align: center; */
    color: white;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 40px;
}
.for  .tip{
    display: flex;
}
.for  .tip .to{
    margin-left: 20px;
}
.for  .tip .to img{
    width: 100%;
    border-radius: 20px;
    /* box-shadow: 5px 5px 15px 0px #3b3b3b; */
}
.for .tip .to  h3{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 575px){
    .for  .tip{
        display: flex;
        flex-direction: column;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .for  .tip{
        display: flex;
        flex-direction: column;
    }
}

/* <!-- -------------------------------fifa--------------------------- --> 
 */
 .cloud{
    background: url(images/g8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    color: white;
    padding: 100px 5%;
}
.cloud h2{
    font-size: 40px;
    font-weight: 600;
}
.cloud p{
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 700px;
    line-height: 2;
}
.cloud button{
    background: white;
    color: black;
    padding: 10px 30px;
    outline: 0;
    border: 0;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 30px;
}

@media screen and (min-width: 320px) and (max-width: 575px){
    .cloud{
        background: url(images/g8.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 800px;
}

    .cloud p{
        width: 400px;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .cloud{
        background: url(images/g8.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 600px;
}

    .cloud p{
        width: 700px;
    }
}

/* <!-- -------------------------------vr---------------------------  --> */
.vre{
    background: #1ec2fa;
    padding: 30px 5%;
    color: black;
    text-align: center;
}
.vre button{
    margin-left: 550px;
    outline: 0;
    border: 0;
    padding: 10px 20px;
    background: #1489f3;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
}
.vre img{
    width: 100%;
}
.vre h1{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
.vre  p{
    text-align: center;
}
.vre .ps4 {
    display: flex;
}
.vre .ps4 .blood {
    margin-left: 20px;
    margin-top: 20px;

}
.vre .ps4 .blood img{
    width: 100%;
    border-radius: 20px;
}
.vre .ps4 .blood h2{
    text-align: center;
    margin-top: 20px;
}
.vre .ps4 .blood p{
    text-align: center;
    line-height: 2;
    margin-top: 40px;
}
.vre .ps4 .blood button{
    outline: 0;
    border: 0;
    padding: 10px 20px;
    background: #1489f3;
    color: white;
    margin-left: 80px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (min-width: 320px) and (max-width: 575px){
    .vre .ps4 {
        display: flex;
        flex-direction: column;
    }
    .vre img{
        width: 100%;
    }
    .vre h1{
        font-size: 30px;
    }
    .vre .vanish{
        display: none;
    }
}
/* Medium devices (min-width: 576px and max-width: 767.98px) */
@media screen and (min-width: 576px) and (max-width: 767px){
    .vre .ps4 {
        display: flex;
        flex-direction: column;
    }
    .vre img{
        width: 100%;
    }
    .vre h1{
        font-size: 30px;
    }
    .vre .vanish{
        display: none;
    }
}